<!-- I hate inline css, but I see no other good way -->
<div class="ContentCollection" style="justify-content: center;">
    <div class="ContentBox_sm" style="max-width: 400px;">
        <h3 class="ContentBoxHeader">Login</h3>
        <div class="ContentBoxBody">
            {{> formErrors}}
            <label for="Login_Username">Username</label>
            <input type="text" name="Login_Username" id="Form_Login_Username">

            <label for="Login_Password">Password</label>
            <input type="password" name="Login_Password" id="Form_Login_Password">

            <div class="TextCenter">
                <button class="Button_sm" id="Form_Login_Button">Login</button>
                <hr>
                <p class="Muted">Not a member? Register <a href="/register">here</a>!</p>
            </div>
        </div>
    </div>
</div>     

<script src="/js/perpage/login.js"></script>